.page.theme_light {
  --bg-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --paragraph-color: #353430;
  --btn-color: #353430;
  --btn-opacity-color: #35343066;
  --title-color: #ffc2e6;
  --heading-color: #353430;
  --heading-element-color: #353430; 

  background-image: url("../images/cover-image-light.png");
}

.page.theme_light .header__decoration-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #ff8dcb;
    --accent-color: #ff8dcb;
    --paragraph-color: #353430;
    --btn-color: #353430;
    --btn-opacity-color: #35343066;
    --title-color: #ffc2e6;
    --heading-color: #353430;
    --heading-element-color: #353430;
    background-image: url("../images/cover-image-light.png");
  }

  .page.theme_auto .header__decoration-element {
    display: none;
  }
}

@media (769px > width > 476px) {
  .page.theme_light .header__decoration-element {
    margin-inline-start: calc(100% - 80px);
    margin-block-start: 12px;
  }
  .page.theme_auto .header__decoration-element {
    margin-inline-start: calc(100% - 80px);
    margin-block-start: 12px;
  }
}