.page.theme_dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --btn-color: #ff0070;
  --btn-opacity-color: #ff007066;
  --title-color: #db00ff;
  --heading-color: #000028;
  --heading-element-color: #ff0070;
  background-image: url("../images/cover-image-dark.png");
}